{% extends 'core/base.html' %}
{% block content %}
<div class="mx-5 my-5">
    <h5 class="text-warning mb-5 border-bottom"><em>Personal Information</em></h5>
</div>

<div class='container'>
    <div class="row">
        <div class="col-sm-5">
            <ul class='list-unstyled text-white text-end'>
                <li><em>Gender:-</em></li>
                <li><em>Current work place:-</em></li>
                <li><em>Native Place:-</em></li>
                <li><em>E-mail:-</em></li>
                <li><em>contact no:-</em></li>
                <li><em>Github:-</em></li>
            </ul>
        </div>
        <div class="col-sm-5">
            <ul class='list-unstyled text-white text-left'>
                <li><em>Male</em></li>
                <li><em>Bengalore (Karnataka)</em></li>
                <li><em>Datia (Madhya Pradesh)</em></li>
                <li><em>namdeoanshulkumar@gmail.com</em></li>
                <li><em>+91-877-157075</em></li>
                <li><em>https://github.com/AnshulKumarNamdeo</em></li>
            </ul>
        </div>
    </div>

</div>
{% endblock content %}

