{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <div class='text-center mt-5'>
        <img src="{% static 'core/images/Photo.jpg' %}" alt="PerofilePic" class="img-thumbnail" width="100px" height="100px">
    </div>
    <div class="mt-5 text-white mx-5 text-justify">
        <h3 class="font-weight-bold"><em>Hello,</em></h3>
    </div>
    <div class="text-white mx-5 text-justify">
        <p style="text-white">I am <b class="text-warning"> Anshul Kuamr Namdeo </b>To build a long-term career in specific 
        industry with opportunities for career 
        growth.Enhance my education and 
        professional skills in a stable and 
        dynamic workplace.</p>
        <P style="text-white">Overall experience of <b class="text-warning"> 3+ years, 6+ months</b> into Content 
            Management tools like <b class="text-warning">D2LS, Captiva and CARA</b> in the same 
            company.</p>
            <P style="text-white">We have developed a support website <b class="text-warning"> AiBot</b>
            to support online client regaridng website development And applications</p>

    </div>
    <div class="text-center">
        <a href="#" class="btn btn-outline-warning my-3 mr-5">Contact Me</a>
        <a href="https://anshulkumarnamdeo.github.io/aibot.github.io/" class="btn btn-outline-info my-3 mx-5">Go To AiBot</a>

    </div>
{% endblock content %}


