{% load static %}
<div>
    <div class="text-center">
        <img src="{% static 'core/images/Photo.jpg' %}" alt="ProfilePic" class="img-fluid rounded-circle mt-5" width="100px" heght="100px">
    </div>
    <div class="text-center text-white mt-3">
    <em class='text-warning'>Anshul Kumar</em><br><em class='text-warning'> Namdeo</em></div>
    <hr class="border border-white">
    <nav class="nav flex-column text-center">
        <a href="/" class="nav-link" style="color:whitesmoke">Home</a>
        <a href="/exp/experience/" class="nav-link" style="color:whitesmoke">Experiences</a>
        <a href="/skill/skills/" class="nav-link" style="color:whitesmoke">Skills</a>
        <a href="/edu/education/" class="nav-link" style="color:whitesmoke">Education</a>
        <a href="/contact/" class="nav-link" style="color:whitesmoke">Personal Info</a>                    
    </nav>
</div>