{% extends 'core/base.html' %}
{% block content %}
    <div class="mx-5 my-5">
        <h5 class="text-warning mb-5 border-bottom"><em>WORK EXPERIENCE</em></h5>
    </div>
    
    <div class="container">
        <div class="row text-white">
            <em><h5 class='text-info'>MYLAN PHARMACEUTICALS PRIVATE LTD (FEBRUARY 2019 – 
                PRESENT)</h5><em>
                <small>Overall experience of 3+ years, 6+ months into Content 
                    Management tools like D2LS, Captiva and CARA in the same 
                    company.</small><hr class="bg-warning">  
                    <ol>
                        <li class='text-warning'>Associate Documentum D2-Support Engineer | (February 2022 –
                            Present)</li><hr>
                            <ul>
                                <li> Having Experience on Documentum tools, DCM, D2LS, 
                                    DA, Captiva, CARA</li>
                                <li>Trobleshoot D2 front end related issue.</li>
                            </ul><br>
                        <li class='text-warning'>D2LS Application support L2 team resource | (June 2021 –
                            February 2022)</li><hr>
                            <ul><li> Having experience workflow related issue.</li>
                                <li> Handle the print related issue for the D2LS 
                                    application</li>
                                    <li> Worked on the University (ELM2 folder) related 
                                        issue</li>
                                    <li> Having the architecture knowledge About D2 
                                        application</li>
                                    <li> Knowledge regarding restart activity for the D2 all 
                                        servers.</li>
                                    <li> Worked on known issue</li>
                            </ul><br>
                        <li class='text-warning'>Associate to L2 Team (D2LS Support team) | (January 2021 - June 2021)</li><hr>
                            <ul>
                                <li> Run the Health check queries and preparing reports 
                                    for the team.</li>
                                <li> Ticket creation and update the work notes.</li>
                                <li>Reach out to user and confirm regarding the issue 
                                    everyday work.</li>
                                <li> Reach out to user and confirm regarding the issue 
                                    everyday work.</li>
                            </ul><br>
                        <li class="text-warning">Working as L1 Application Support engineer | (Feb 2019-jan 
                            2020)</li><hr>
                            <ul>
                                <li> Handle ticket SLA will not cross the time limit</li>
                                <li> Monitoring of services/application performances</li>
                            </ul>
                    </ol>
        </div>
    </div>
{% endblock content %}
