{% extends 'core/base.html' %}
{% block content %}
    <div class="mx-5 my-5">
        <h5 class="text-warning mb-5 border-bottom"><em>EDUCATION QUALIFICATIONS</em></h5>
    </div>
    <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">S.N.</th>
            <th scope="col">Course name and university</th>
            <th scope="col">Passout year</th>
            <th scope="col">Passout from</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Java_Professional_Plus Course
                in 2018 from SEED Infotech, 
                PUNE</td>
            <td>2018</td>
            <td>Pune</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Bachelor of Electronics and
                communication engineering 
                from RGPV Bhopal</td>
            <td>2013</td>
            <td>Datia</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>12th From SVM, DATIA (MP BOARD) in science stream (PCM)</td>
            <td>2007</td>
            <td>Datia</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>10th From SVM, DATIA (MP BOARD) with all subject</td>
            <td>2005</td>
            <td>Datia</td>
          </tr>
        </tbody>
      </table>

{% endblock content %}